 aside{
    color: #c4c4c4;
 }
 ol{
   -webkit-padding-start: 20px;
    padding-left: 20px;
    border-left: 1px solid rgb(0, 0, 0);
    color:red;
    width: max-content;
    margin: 0 auto;
    max-width: 100%;
 }
 .danger-text{
    font-size: 15px;
    color: white;
    -webkit-text-stroke:0.5px purple;   
 }
 .danger-block{
    padding: 3px 3px;
    background-color: lightpink;
 }
 body{
   padding: 0 16px;
 }
 ol li{
   list-style-position: inside;
 }
 figure {
   display: flex;
  flex-direction: column;
  align-items: center;
}
 figcaption{
   text-align: center;
   width: 700px;
   border: 5px solid lightblue;
   font-style: italic;
   background-color: lightblue;
   
 }
 figure img{
   vertical-align: middle;
   border: 5px solid lightblue;
 }
 html, body{
   scroll-behavior: smooth;
 }
 div{
  max-width: 100%;
 }