 aside{
    color: #c4c4c4;
 }
 ol{
   -webkit-padding-start: 20px;
    padding-left: 20px;
    border-left: 1px solid rgb(0, 0, 0);
    color:red;
 }
 .danger-text{
    font-size: 15px;
    color: white;
    -webkit-text-stroke:0.5px purple;   
 }
 .danger-block{
    padding: 3px 3px;
    background-color: lightpink;
 }
 body{
   padding: 0 16px;
 }
 ol li{
   list-style-position: inside;
 }